gitea:
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - host: &host git.yona.works
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: gitea-tls-certificate
        hosts:
          - *host
  gitea:
    admin:
      existingSecret: gitea-admin-secret
    config:
      server:
        LANDING_PAGE: explore
        ROOT_URL: https://git.yona.works
        OFFLINE_MODE: true
      repository:
        DISABLED_REPO_UNITS: repo.wiki,repo.projects,repo.packages
        DISABLE_STARS: true
        DEFAULT_BRANCH: main
      # TODO it's not reading the username from Dex correctly for now, related issues:
      # https://github.com/go-gitea/gitea/issues/25725
      # https://github.com/go-gitea/gitea/issues/24957
      # oauth2_client:
      #   ENABLE_AUTO_REGISTRATION: true
      #   USERNAME: userid
      service.explore:
        DISABLE_USERS_PAGE: true
      actions:
        ENABLED: false
      webhook:
        ALLOWED_HOST_LIST: private
  extraVolumes:
    - name: gitea-dump
      persistentVolumeClaim:
        claimName: gitea-dump
  extraContainerVolumeMounts:
    - name: gitea-dump
      mountPath: /dump

backupJob:
  enabled: true
  schedule: "0 4 * * *"
  timeZone: "Europe/Amsterdam"
  image:
    repository: bitnami/kubectl
    tag: "1.30.1"
  replicationSources:
    - gitea-dump
  dumpPvc:
    name: gitea-dump
    size: 5Gi
