argo-cd:
  global:
    domain: argocd.yona.works
  configs:
    params:
      server.insecure: true
      controller.diff.server.side: true
    cm:
      resource.ignoreResourceUpdatesEnabled: true
      resource.customizations.ignoreResourceUpdates.all: |
        jsonPointers:
          - /status
    ssh:
      knownHosts: |
        git.yona.works ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDiTIsBiJbBjvev649JuAsxU+nIaax+u+gjl53lJBlmA2glUoxQcM0Vhrh3ldObhy5EZySoTx7+VKEjvSqG4KfLlUOcoxzAHYXs7HbIS93XOBlMz9JbHo33raZANauOqqUB/66LPeZWOKmmTazI5Lxr7sqhBwiQoII2qo6mCUSGflXrFJEK1dYkPHaeA13wdjlOQXQnfdVYbRd05K0zp6ewUUHUmOr4CpBXm+eZs+ZbiM73UunJhT5Xt0n1/JNkBPJztmauvUKGB1nMG7knBgMRDzWbPktkGOzp8MjLl2M0z3uBSifHYm5IljB0JOQlPXRBxYizbo0A2zGurPRgMx926yk5WXiuuiP90FSY1uk4i1K1JSHC2w5+x4AhYDLfmgYpGku2Oc9pJXxqOnzzUCpZg08Pq06GLr9l8egUJKQv4WXUJLXZUcGrJhm0KHamVz/wcOTh/vFdFP8yF3rGaEyAdaP/eCG/P9hA6yl8VbD2EkP9YBXb3Lyxvw9EH7wySIvj0x+UC1F5jjcebwYQeS/uUcAy0tlAhuUABUTOs8NzxGnXOTqhnR5N0hjK2PKi74TegYsH0bD8OG5k6IE8PtStx0CelrC79J7ZxV9paTJgFbJZz0YqM9IVoeDSInq49sUdkgfhzZVrqP1y2Q3KRooiYtQe+cyrNre+dL8LocNqGw==
  server:
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      tls: true
    metrics: &metrics
      enabled: true
      serviceMonitor:
        enabled: true
  dex:
    enabled: false
  controller:
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics: *metrics
